body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

#page-wrapper { /* Same across all pages */
  max-width: 60%;
  margin: 0 auto;
  padding: 2em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#homepage section {
  background-color: #f9f9f9;
  padding: 2em;
  margin: 2em 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}

header { /* Same across all pages */
  margin: 2em 0;
  text-align: center;
  position: relative;
}

#main-nav { /* Nav is same across all pages */
  text-align: center; /* Center the nav items */
  margin: 20px 0; /* Space above and below the nav */
  background-color: #333;
  padding: 10px;
}

#main-nav ul {
  list-style-type: none;
  padding: 0; 
  margin: 0;
  display: inline-block; /* Center the ul */
}

#main-nav ul li {
  display: inline; /* Display list items in a row */
  margin: 0 15px;
}

#main-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold; /* Make links bold */
}

#main-nav ul li a:hover {
  color: #007BFF; /* Change color on hover */
  text-decoration: underline; /* Add underline on hover */
}

#homepage main {
  border-radius: 12px;
  margin-bottom: 40px;
}

#homepage img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-top: 40px;
  font-size: 2em;
}
